body{
    height:100vh;
    background-color:hotpink ;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: cente0r;

}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    height: 90vh;
    width: 90vw;
    border: 10px solid black;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: aliceblue;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* margin: 5%; */
    
    }


.face{
    height: 7vh;
    width: 7vw;
    border-radius: 10px;
    }



.card{
    height: 7vh;
    width: 7vw;
    border-radius: 10px;
}


.card.flipped{

}