@font-face {
    font-family: Quicksand;
    src: url(./Quicksand-VariableFont_wght.ttf);
}


body{
    height:100vh;
    background-color: rgb(0, 0, 0) ;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

title{
    display: flex;
    justify-content: center;

}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    height: 90vh;
    width: 90vw;
    /* border: 10px solid black; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* background-color: aliceblue; */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    }

    /* CSS for flip animation */
.colorCard {
    /* Other styles */
    transition: transform 0.5s ease; /* Add transition for smooth animation */
    border-radius: 5px;

  }
  
  .flip {
    transform: rotateY(180deg); /* Rotate the card to simulate a flip */
  }
  



  .winLocation {
    position: absolute;
    z-index: 3;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Make the winLocation div take up the full width */
    height: 100%; /* Make the winLocation div take up the full height */
}

.winScreen{
   background-color: rgb(0, 255, 251);
   width: 40vw;
   height: 15vh;
   border: solid 10px rgb(255, 255, 255) ;
   border-radius: 30px;
   margin-bottom: 5vh;
}

.winText{
    font-family: Quicksand;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
}

.restartButton {
    background-color: rgb(0, 255, 251);
    width: 20vw;
    height: 7vh;
    border: solid 10px rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restartIcon{
    height: 5vh;
    width: 15vw;
}


/* .front {
    height: 50px;
    width: 50px;
} */